.title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: goldenrod;
    background-color: maroon;
}


#projectsContainer img {

    width: 800px;
    height: auto;
}


.projectInfo {
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.projectInfo p {
    font-size: 20px;
    letter-spacing: .2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#appImage img {
    width: 70px;
    height:70px;
    margin-right: 10px;

}

.siteButtons a{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: goldenrod;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    padding: 7px 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#github {
    background-color:rgb(88, 172, 255);
    color:white;
}

#github:hover {
    background-color:white;
    color:rgb(88, 172, 255);
}

.siteButtons a:hover {
    background-color: white;
    color: goldenrod;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

  .siteButtons a, .siteButtons a:hover{
    text-decoration: none;
  } 